fastapi
uvicorn[standard]
httpx
websockets
python-dotenv
pydantic
pydantic-settings
sqlalchemy
aiosqlite
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pyotp
apscheduler
pandas
requests
geocoder
websocket-client
